@* Create.cshtml *@
@using ToDoListApp.Models
@model TaskTodo
@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<h4>TaskTodo</h4>
<hr />

<div class="text-danger">
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mt-4">Create Task</h1>

            <div class="card mt-4">
                <div class="card-body">
                    <form asp-action="Create" method="post">
                        @Html.AntiForgeryToken();
                        <div class="form-group">
                            <label asp-for="Title">Title</label>
                            @* <input asp-for="Title" class="form-control" />*@
                               <textarea class="form-control" id="Title" name="Title" rows="1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="Description">Task Description</label>
                            <textarea class="form-control" id="Description" name="Description" rows="3"></textarea>
                        </div>
                        <div>
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
